<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Commerzbank Trade Transaction Manager - Routing Data
        Service</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div th:if="${searchError}">
                        <div class="alert alert-danger">Please retry with different
                            search filter(s) settings.
                        </div>
                    </div>
                    <form class="form-search" method="post"
                          th:action="@{/guiclient/search}" th:object="${searchForm}">
                        <fieldset>
                            <table class="table table1">
                                <thead>
                                <tr>
                                    <th><h4>Search</h4></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><p>Date</p></td>
                                    <td><input class="form-control" id="dateInput"
                                               th:field="${searchForm.createdAt}" type="date"/></td>
                                </tr>
                                <tr>
                                    <td><p>TTM-Reference</p></td>
                                    <td><input class="form-control" id="ttmrefInput"
                                               th:field="${searchForm.ttmRef}" type="text"/></td>
                                </tr>
                                <tr>
                                    <td><p>Status</p></td>
                                    <td align="center"><select id="stat" th:field="${searchForm.status}">
                                        <option selected="selected" value="">-----------------</option>
                                        <option th:each="status : ${statusList}"
                                                th:text="${status}" th:value="${status}"></option>
                                    </select></td>
                                </tr>
                                <tr>
                                    <td><p>Business Ref.</p></td>
                                    <td><input class="form-control" id="brefInput"
                                               th:field="${searchForm.businessReference}" type="text"/></td>
                                </tr>
                                <tr>
                                    <td><p>Sender BIC</p></td>
                                    <td><input class="form-control" id="sbicInput"
                                               th:field="${searchForm.senderBic}" type="text"/></td>
                                </tr>
                                <tr>
                                    <td><p>Sender Ref.</p></td>
                                    <td><input class="form-control" id="srefInput"
                                               th:field="${searchForm.tag20}" type="text"/></td>
                                </tr>
                                </tbody>
                            </table>
                            <input class="btn btn-primary" th:value="Search" type="submit"/>
                        </fieldset>
                    </form>
                    <div class="alert"
                         th:if="${results != null and #lists.isEmpty(results) and searchAction != null}">
                        <strong>No result found!</strong> Please retry with different
                        search filter(s).
                    </div>
                </div>
                <div class="col-md-8">
                    <form method="post" th:action="@{/guiclient/update}" th:object="${updateForm}">
                        <fieldset>
                            <table class="table table1">
                                <thead>
                                <tr>
                                    <th><h4>Change</h4></th>
                                    <th>current</th>
                                    <th>into new</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><p>TTM-Reference</p></td>
                                    <td>
                                        <fieldset disabled="disabled">
                                            <input class="form-control" id="cttmrefInput" th:field="${updateForm.ttmReference}"
                                                   type="text"/>
                                        </fieldset>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><p>Branch Entity</p></td>
                                    <td>
                                        <fieldset disabled="disabled">
                                            <input class="form-control" id="cbeInput" th:field="${updateForm.branchLocation}"
                                                   type="text"/>
                                        </fieldset>
                                    </td>
                                    <td><input class="form-control" id="ncbeInput"
                                               th:field="${updateForm.newBranchLocation}" type="text"/></td>
                                </tr>
                                <tr>
                                    <td><p>Business Ref.</p></td>
                                    <td>
                                        <fieldset disabled="disabled">
                                            <input class="form-control" id="cbrefInput" th:field="${updateForm.businessReference}"
                                                   type="text"/>
                                        </fieldset>
                                    </td>
                                    <td><input class="form-control" id="ncbrefInput"
                                               th:field="${updateForm.newBusinessReference}" type="text"/></td>
                                </tr>
                                <tr>
                                    <td><p>CustomerID</p></td>
                                    <td>
                                        <fieldset disabled="disabled">
                                            <input class="form-control" id="ccidInput" th:field="${updateForm.customerId}"
                                                   type="text"/>
                                        </fieldset>
                                    </td>
                                    <td><input class="form-control" id="nccidInput"
                                               th:field="${updateForm.newCustomerId}" type="text"/></td>
                                </tr>
                                <tr>
                                    <td><p>SystemID</p></td>
                                    <td>
                                        <fieldset disabled="disabled">
                                            <input class="form-control" id="csidInput" th:field="${updateForm.systemId}"
                                                   type="text"/>
                                        </fieldset>
                                    </td>
                                    <td><input class="form-control" id="ncsidInput"
                                               th:field="${updateForm.newSystemId}" type="text"/></td>
                                </tr>
                                <tr>
                                    <td><p>Other System</p></td>
                                    <td>
                                        <fieldset disabled="disabled">
                                            <input class="form-control" id="cotherInput" th:field="${updateForm.otherSystem}"
                                                   type="text"/>
                                        </fieldset>
                                    </td>
                                    <td><input class="form-control" id="ncotherInput"
                                               th:field="${updateForm.newOtherSystem}" type="text"/></td>
                                </tr>
                                <tr>
                                    <td><p>Status</p></td>
                                    <td>
                                        <fieldset disabled="disabled">
                                            <input class="form-control" id="statusInput" th:field="${updateForm.status}"
                                                   type="text" value="unrouted"/>
                                        </fieldset>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <input class="btn btn-primary" th:value="Change" type="submit"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Transactions</h3>
        <br></br>
        <div class="col-md-12">
            <table class="table table table-bordered" id="table">
                <thead align="center">
                <tr class="text-center">
                    <th>Id</th>
                    <th>TTM-Reference</th>
                    <th>Type</th>
                    <th>Style</th>
                    <th>Date</th>
                    <th>Sender</th>
                    <th>Senders-ref</th>
                    <th>Receiver</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <!-- <a th:href="@{${'/update/' + record.ttmReference}}" > -->
                <tr class="text-center" style="cursor: pointer" th:each="record : ${allRecords}">
                    <td th:text="${record.id}">ID</td>
                    <td th:text="${record.ttmReference}">TTMReference</td>
                    <td th:text="${record.type}">Type</td>
                    <td th:text="${record.style}">Style</td>
                    <td th:text="${#temporals.formatISO(record.createdAt)}">Date</td>
                    <td th:text="${record.senderBic}">Sender</td>
                    <td th:text="${record.businessReference}">SenderReference</td>
                    <td th:text="${record.receiverBic}">Receiver</td>
                    <td th:text="${record.status}">Status</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3>Message</h3>
        <br></br>
        <div class="col-md-12">
            <dl>
                <p th:text="${swiftContent}">SWIFT in raw format</p>
            </dl>
        </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
<!-- scripts -->
<script th:inline="javascript">
highlight_row();
function highlight_row() {
    var table = document.getElementById('table');
    var cells = table.getElementsByTagName('td');

    for (var i = 0; i < cells.length; i++) {
        // Take each cell
        var cell = cells[i];
        // do something on onclick event for cell
        cell.onclick = function () {
            // Get the row id where the cell exists
            var rowId = this.parentNode.rowIndex;

            var rowsNotSelected = table.getElementsByTagName('tr');
            for (var row = 0; row < rowsNotSelected.length; row++) {
                rowsNotSelected[row].style.backgroundColor = "";
                rowsNotSelected[row].classList.remove('selected');
            }
            var rowSelected = table.getElementsByTagName('tr')[rowId];
            rowSelected.style.backgroundColor = "gray";
            rowSelected.className += " selected";

            location.href = "/guiclient/update/" + rowSelected.cells[1].innerHTML;
        }
    }
}

</script>
</body>
</html>