h1 {
	color: #000000;
}

h2 {
	color: #FFFFFF;
}

footer {
	margin-top: 100px;
	background-color: #ffc82c;
}

.navbar-default {
	background-color: #ffc82c;
	border-color: #ffc82c;
}

.input-group-addon {
	min-width: 140px;
	text-align:left;
}

.input-group-addon1 {
	min-width: 140px;
	text-align:left;
}

.form-control {
	min-width: 120px;
	/*background-color : yellow;*/
	text-align: left;
}

/*Form table*/
.table1 thead tr th {
	border: none;
	padding: 1px;
	text-align: left;
	border-collapse: collapse;
}

.table1 tbody tr td {
	border: none;
	padding: 1px;
	text-align: left;
	height:100%;
	border-collapse: collapse;
}

/*Display table*/
.table2 {
	border: yes;
	padding: 2px;
	text-align: left;
	border-collapse: collapse;
}

select {
	width: 100%;
	height: 100%!;
}

td {
	border: 1px #DDD solid;
	padding: 5px;
	cursor: pointer;
}

td a {
	display: block;
}

.selected {
	background-color: gray;
	color: #FFF;
}

.clickable {
	cursor: pointer;
}

.col-md-4 {
	border: yes;
}

.btn {
	background-color: #ffc82c;
}

a:link {
  color:  #000000;
}

/* visited link */
a:visited {
  color:  #000000;
}