<html xmlns:th="http://www.thymeleaf.org" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/guiclient/home}" style="padding:20px;"><b>TTM Routing Data Service</b></a>
            </div>
            <a href="#" class="navbar-brand pull-right navbar-rightt"><img th:src="@{/images/commerzbank_logo.jpg}"></a>
        </div>
    </nav>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" style="padding:0;">
            </div>
        </div>
    </nav>
</div>

</body>
</html>